<?xml version="1.0"?>
<launch>

	<arg name="model" default="burger"/>

	<arg name="x" default="0.5"/>
    <arg name="y" default="-3.0"/>
    <arg name="z" default="0.2"/>
    <arg name="yaw" default="-1.57"/>
	<arg name="js" default="js0"/>

	<arg name="map_file" default="$(find human-aware-tb3-navigation)/map/alt_map.yaml"/>

	<!-- Get the description of the turtlebot 3 from the urdf file -->
	<param name="robot_description" command="$(find xacro)/xacro --inorder $(find turtlebot3_description)/urdf/turtlebot3_$(arg model).urdf.xacro" />

	<include file="$(find pedsim_simulator)/launch/Altorfer_f1.launch">
		<arg name="rviz" value="false"/>
	</include>

	<!-- Spawn a turtlebot 3 in the gazebo world -->
	<node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-urdf -model turtlebot3_$(arg model) -x $(arg x) -y $(arg y) -z $(arg z) -Y $(arg yaw) -param robot_description" />
	

	<!-- Launch  move_base, amcl, map server, and turtlebot3 bringup -->
	<include file="$(find turtlebot3_navigation)/launch/turtlebot3_navigation.launch">
		<arg name="map_file" value="$(arg map_file)"/>
	</include>

	<!--- Run gmapping -->
    <!-- <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping">
		<param name="odom_frame" value="odom"/>
	</node>	 -->


	<!-- joy node -->
 	<!-- <node respawn="true" pkg="joy" type="joy_node" name="joy" >
	    <param name="dev" type="string" value="/dev/input/$(arg js)" />
	    <param name="deadzone" value="0.12" />
		<param name="autorepeat_rate" value="10"/>
  	</node>

  	<node pkg="cpe631_project" type="teleop_node.py" name="teleop_node"/> -->



</launch>
